/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: backwards; */

  /* Use both with the translate 200px */
  /*
    Without the `both` it will pop to the begging 200px translate after 2sec
    instead of starting at the 200px translate
  */
  /* animation-fill-mode: both; */
}


/*// KEYFRAMES //*/

@keyframes drive {
  from {
    transform: translateX(0);
    /* transform: translateX(200px); */
  }
  to {
    transform: translateX(700px);
  }
}





